#footer{
    /* Màu nền */
    background-color: #f4f4f4;
    /* Căn giữa chữ */
    text-align: center;
}

a{
    /* Bỏ gạch chân của Liên kết (thẻ a) */
    text-decoration: none;
}

/* Định dạng liên kết ở các trạng thái khác nhau */
a:hover{
    color: chocolate;
}